@model WebApplication11.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}
<form  asp-controller="ProductUser" asp-action="DetailsSending" asp-route-id="@Model.Id" >


    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-sm-4 m-5 ">


                
                <div class="row img-fluid">
                    <img src="@Url.Content("~/Uploads/" +Model.ProfilePicture)" alt="Error" />
                </div>
            </div>

            <div class="col-sm-5 bg-dark mt-5 border border-2  rounded h-50 ">
                <ul class="list-unstyled">
                    <li>
                        <H2 class="text-white text-center m-3">@Html.DisplayFor(model => model.ProductName)</H2>
                    </li>
                    <li>
                        <div class="row text-success fw-bold fs-5  mb-2">
                            <i class="bi bi-check-circle">
                                In Stock
                            </i>
                        </div>
                    </li>
                    <li>
                        <div class=" ms-5 mt-2 mb-2 ">
                            <strong>@Html.DisplayFor(modelItem => Model.Description)</strong>
                        </div>
                    </li>
                    <li>
                        <div class=" text-primary ms-5 ">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-12 fw-bold fs-5">
                            <i class="bi bi-truck me-3"></i>
                            FREE delivery to you
                            <i class="text-info bi bi-info-circle-fill"></i>
                        </div>
                    </li>

                    <li>
                        <div class="text-center text-info  display-5  fw-bold mt-3 ">
                            $@Html.DisplayFor(modelItem => Model.ProductPrice)
                            @*<input asp-for="Id" class="form-control" />*@

                        </div>
                    </li>
                    <li class="ps-5 pe-5">


                        <div class=" row  justify-content-center ">
                            @Html.HiddenFor(modelItem => Model.Id)
                            <input class="btn btn-outline-success fw-bold"
                            type="submit" value="Add to Cart" 
                            />

                        </div>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</form>
